<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src=".\assets\images\logo.png"/>
        </div>
        <div id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a routerLink="/home">HOME</a>
                </li>
                <li>
                    <a routerLink="/books">BOOKS</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
